@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root{
  --persianRose:#FF00A5;
  --persianBlue:#320073;
  --champagnePink:#E8D6CB;
  --thistle:#D7C0D0;
  --azure:#CEE0DC; 
  --silver:#BFB5AF;
   
}

html{
  padding-top: 100px;
  background-color:var(--persianBlue);
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar{
  /* background-color: #320073; */
  display: none;
}
.icclogo{
  display: flex;
  height: 380px;
  justify-content: center;
  margin-right: 50px;
  opacity: 1.0;
}

/*logo resize*/
.icclogo img {
  width: 15rem;
  object-fit: contain;
}

.table{
  display: flex;
  justify-content: center;

}

.teamlogo{
  height: 10px;
}
.group{
  display: flex;
  flex-direction: column;
  border: 6px solid var(--persianRose);
  /* background-color: #FF00A5; */
  /* height: 20rem; */
  width: 40%;
  justify-content: center;
  margin:0 20px 0 20px;
  border-radius: 20px;
  /* box-shadow: 11px 13px 20px -6px rgba(130,130,130,1); */
}

.team{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: x-large;
  padding: 4%;
  align-items: center;
   padding: 5% 0% 5% 0%;
}
.team div{
  padding:0% 4% 0% 4%;
}
.icclogo{
  margin:auto;
}
.logo{
  height:50px;
  /* margin: auto; */
  /* width:40px; */
}

.table .group .team{
  /* border-bottom: 2px solid black; */
}

.table .group .team:nth-child(2n){
  background-color: var(--persianRose);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--persianRose);
  padding: 0.5%;
  border-radius:10px;
  position: fixed;
  top:1%;
  width: 98%;
  /* box-shadow: 11px 13px 54px -17px rgba(92,89,92,1); */
  /* box-shadow: 11px 13px 20px -6px rgba(130,130,130,1); */
}
.navbar a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

}


#title{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 60px;
}

.nav {
  color: white;
}

#standings, #fixtures, #fantasy {
  padding: 1%;
  color: white;
  font-size: large;
}
.global-footer__social-container{
  margin: 10% 0% 5% 0% ;
  /* background-color: #ff00a66b; */
}

.global-footer__social-container h5{
  font-size: 20px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  /* position: relative;
  z-index: 10; */
  list-style: none;
  /* display: flex; */
  width: 60%;
  margin: auto;
  justify-content: space-around;
  
}


.footer-social__subtitle {
  width: 100%;
  text-align: center;
  margin-bottom: 2.4rem;
  color: white;
  text-transform: uppercase;
}


.footer-social__item {
  position: relative;
  margin-right: 1.6rem;
  list-style-type: none;
}

.footer-social__link .icon {
  height: 2.6rem;
  width: 2.6rem;
  transition: fill .2s ease-in-out;
  fill: white;
}

svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: rgb(255, 255, 255);
}
