/* font */
@font-face {
  font-family: 'CWC Font';
  src: url('../fonts/CWC-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'CWC Font';
  src: url('../fonts/CWC-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'CWC Font';
  src: url('../fonts/CWC-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'CWC Font';
  src: url('../fonts/CWC-Bold.woff2') format('woff2');
  font-weight: 700;
}

/* Global Styles */
body {
  background-color: #320073;
  font-family: "CWC Font";
}

/* Header Styles */
header {
  background-color: #320073;
}

.navbar {
  display: flex;
  background-color: #FF00A5;
  padding: 1%;
  border-radius: 25px;
  box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.25);
}

.navbar a {
  text-decoration: none;
}

#title {
  text-align: center;
  color: white;
}

.nav {
  color: white;
}

#standings, #fixtures, #fantasy {
  padding: 1%;
  color: white;
  font-size: large;
}

/* Logo Styles */
.icclogo {
  display: flex;
  height: 380px;
  justify-content: center;
  margin-right: 50px;
  opacity: 1.0;
}

/* Logo Resize */
.icclogo img {
  width: 15rem;
  object-fit: contain;
}

/* Team Table Styles */
.table {
  display: flex;
}

/* Group Styles */
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF00A5;
  height: 20rem;
  width: 40%;
  padding: 1%;
  justify-content: center;
  margin: 0 20px 0 60px;
  border-radius: 50px;
  box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.25);
}

/* Team Styles */
.team {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 3%;
}

.team img{  
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

/* Footer Styles */
.footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.footer-social__subtitle {
  width: 100%;
  text-align: center;
  margin-bottom: 2.4rem;
  color: white;
  text-transform: uppercase;
}

.footer-social__item {
  position: relative;
  margin-right: 1.6rem;
  list-style-type: none;
}

.footer-social__link .icon {
  height: 2.6rem;
  width: 2.6rem;
  transition: fill .2s ease-in-out;
  fill: white;
}

svg.icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
}

.team .logo {
  width: 3rem; 
  height: 2rem; 
  object-fit: cover; 
}

#last-team {
  margin-right: .5em;
}

#team-5 img {
  margin-right: 0.3em;
}


#team-8 img {
  margin-left: 0.5em;
}